.articles {
  list-style: none;
  padding: 0.5rem;
  margin: 0.5rem;
  min-width: 90%;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  min-height: 90%;
}

.articles li {
  min-width: 100%;
  min-height: 100%;
}

.article-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
}

.article {
  display: flex;
  margin-bottom: 3rem;
  min-width: 100%;
  min-height: 100%;
}

.article-date {
  font-size: 0.7rem;
}

.article-title {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}

.article a {
  width: fit-content;
}

.article-image {
  margin-right: 1.5rem;
  max-width: 180px;
}

.article-container {
  display: flex;
}

.paginator-btns {
  margin: auto;
  text-align: center;
}

.paginator-btn-disabled {
  background-color: #838387 !important;
  pointer-events: none;
}

@media screen and (max-width: 860px) {
  .article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .article-text {
    align-items: center;
  }

  .article-summary {
    display: none;
  }

  .article-image {
    margin: 0;
  }
}
