.bigdreams-container {
  background-color: #486648;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto !important;
  padding: 2rem 0;
  min-height: 100vh;
  width: 100%;
}

.content {
  display: none;
  flex-direction: column;
  align-items: center;
}

.loader {
  animation: 1s linear infinite spinner;
  border: solid 5px red;
  border-radius: 50%;
  border-bottom-color: green;
  height: 5rem;
  width: 5rem;
  margin: auto;
}

.bigdreams-images {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-column-gap: 5rem;
  grid-row-gap: 8rem;
  justify-content: center;
}

.bigdreams-toolbar {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.image-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  margin-top: 5rem;
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.prev-btn,
.next-btn {
  visibility: hidden;
  background-color: #f44336;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
