input,
textarea {
  background-color: white !important;
  border-radius: 10px !important;
}

input[type="submit"] {
  background-color: var(--button-main-color) !important;
  color: white;
}

.wpcf7-spinner {
  position: absolute;
  margin: auto 1.5rem;
}
