div[role="form"] {
  text-align: left;
}

div[role="form"] * {
  max-width: 100%;
}

input,
input[type="submit"] {
  color: white;
}

div[role="form"] input,
textarea {
  border-radius: 10pt;
  background-color: #e6eee6;
}

.wpcf7-spinner {
  position: absolute;
  margin: auto 1.5rem;
}
