/* Common variables used throughout the page */
:root {
  --title-color: #f7b500;
  --subtitle-color: #efefef;
  --lower-navbar-color: #506536;
  --lower-navbar-color-transparant: #5065369c;
  --lower-navbar-color-hamburger: #506536ed;
  --lower-navbar-link-color: #c3b5c3;
  --link-underline-color: #bc6fff;
  --upper-navbar-link-color: #525a4a;
  --upper-navbar-background-color: rgba(255, 255, 255, 0.5);
  --main-background-color: #faf0be;
  --secondary-background-color: #486648e6;
  --navbar-font-size: clamp(1rem, 2vw, 1.2rem);
  --sidebar-font-size: calc(var(--navbar-font-size) - 0.2rem);
  --button-main-color: #7e4caa;
}

* {
  box-sizing: border-box;
}

html,
body {
  color: white;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 50% 75%;
}

a,
button {
  font-family: 'Cinzel', serif;
}

button {
  border-radius: 15px;
  background-color: var(--button-main-color);
  transition: background-color 600ms ease-in-out;
}

button:hover {
  background-color: var(--title-color) !important;
}

p {
  font-family: 'Della Respira', serif !important;
}

p * {
  font-family: 'Della Respira', serif !important;
}

a {
  border-bottom-color: var(--link-underline-color);
  color: var(--lower-navbar-link-color);
}

a:hover {
  color: var(--title-color) !important;
  border-bottom-color: var(--link-underline-color);
  transition: color 400ms ease-in-out;
}

.overlay {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0.8;
}

/* Block for the title and subtitle */
.titles {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-family: "Cinzel Decorative", sans-serif;
}

/* Title (life-being)  */
.title {
  text-shadow: 1px 3px 1px #2f2a1c;
  font-size: 7rem;
  color: var(--title-color);
  margin: 1px;
  width: max-content;
}

/* svg-logo in top navbar */
.logo {
  margin: 0.3rem 0 0.3rem 5%;
  z-index: 1;
  width: clamp(6rem, 5vw, 10rem);
}

.subtitle {
  text-align: center;
  color: var(--subtitle-color);
  margin: 1px;
  font-size: 2.5rem;
  text-shadow: 1px 1px 1px #2f2a1c;
  width: max-content;
}

/* Block for the complete header = background image, navbars and titles */
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 23rem;
}

/* Gallery buttons */
.prev-button,
.next-button {
  display: none;
  align-self: center;
  z-index: 1;
  font-size: 33pt;
  color: white;
  cursor: pointer;
  transition: all 333ms ease-in-out;
}

.prev-button:hover,
.next-button:hover {
  color: var(--lower-navbar-link-color);
  transform: scale(1.1);
}

/* Subcontainer with title and the gallery buttons */
.title-with-btns {
  display: flex;
  margin: auto;
  width: 85%;
}

/* Dark overlay over background image, to improve contrast of titles */
.header::after {
  content: '';
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

/* Mobile(small screen)-specific styles */
@media screen and (max-width: 850px) {
  .title {
    font-size: 30pt;
  }

  .subtitle {
    font-size: 15pt;
  }
}
