/* Navbars  */
.navbar {
  display: flex;
  flex-wrap: nowrap !important;
  background-color: var(--lower-navbar-color-transparant);
  z-index: 2;
  font-size: var(--navbar-font-size);
  margin-right: 1rem;
}

.navbar li {
  margin: 0 0.5rem;
  min-width: fit-content;
}

/* links in the navbars */
.nav-links {
  display: flex;
  list-style: none;
  margin: 0 !important;
}

.nav-links a {
  text-decoration: none;
  color: var(--lower-navbar-link-color);
}

.upper-navbar-links a,
.upper-navbar-links span {
  color: var(--upper-navbar-link-color);
}

.nav-links a.active-link {
  text-decoration: none;
  border-bottom: 4px #7a3fad solid;
}

.upper-navbar {
  background-color: var(--upper-navbar-background-color);
  margin: 0 1px;
  justify-content: space-between;
  display: flex;
  max-height: fit-content;
  align-items: center;
}

.lower-navbar {
  height: 2.5rem;
  border-radius: 10px;
  min-width: 100%;
}

.lower-navbar-links {
  min-width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2rem;
}

.hamburger-container {
  display: none;
}

#menu-toggle {
  display: none;
}

/* Mobile(small screen)-specific styles */
@media screen and (max-width: 1000px) {
  .upper-navbar-links {
    flex-direction: column;
    min-height: fit-content;
    padding-left: 0;
  }

  .navbar {
    justify-content: space-evenly !important;
  }

  .nav-links {
    justify-content: center;
  }

  .navbar li {
    margin: 0.5rem;
  }
}
