.blogs {
  list-style: none;
  padding: 0.5rem;
  margin: 0.5rem;
  min-width: 90%;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

.blogs li {
  min-width: 100%;
  min-height: 100%;
}

.blog-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.blog {
  display: flex;
  margin-bottom: 3rem;
  min-width: 100%;
  min-height: 100%;
}

.blog-date{
  font-size: 11pt;
}

.blog-title {
  font-size: 20pt;
  text-decoration: none;
  color: white;
}

.blog a {
  width: fit-content;
}

.blog-image {
  margin-right: 1.5rem;
  max-width: 100%;
}

.image-container {
  display: flex;
}

@media screen and (max-width: 860px) {
  .blog {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blog-text {
    align-items: center;
  }

  .blog-summary {
    display: none;
  }

  .blog-image {
    margin: 0;
  }
}
