/* Navbars  */
.navbar {
  display: flex;
  background-color: var(--lower-navbar-color);
  z-index: 1;
  font-size: 1.125rem;
}

.navbar li {
  min-width: fit-content;
  margin: 0 1rem;
}

/* links in the navbars */
.nav-links {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--lower-navbar-link-color);
}

.upper-navbar-links {
  justify-content: flex-end;
}

.upper-navbar-links a {
  color: var(--upper-navbar-link-color);
}

.nav-links a:hover {
  color: var(--title-color);
}

.upper-navbar {
  background-color: var(--upper-navbar-background-color);
  margin: 0 1px;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 33% 67%;
}

.lower-navbar {
  height: 2.5rem;
}

.hamburger-container {
  display: none;
}

#menu-toggle {
  display: none;
}

/* Mobile(small screen)-specific styles */
@media screen and (max-width: 800px) {
  .upper {
    justify-content: center;
  }

  .hamburger-container {
    background-color: rgba(255, 255, 255, 0);
    justify-self: flex-end;
    margin: 0 0.8rem;
    height: 100%;
    width: 1.5rem;
    position: relative;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
  }

  .hamburger-menu,
  .hamburger-menu::before,
  .hamburger-menu::after {
    min-width: 30px;
    align-self: flex-end;
    position: absolute;
    min-height: 4px;
    background-color: #fff;
    border-radius: 15px;
  }

  .hamburger-menu::before {
    content: '';
    top: 9px;
  }

  .hamburger-menu::after {
    content: '';
    top: -9px;
  }

  .upper-navbar-links {
    position: absolute;
    top: 1.9rem;
    left: 0;
    display: flex;
    font-size: 0;
    flex-direction: column;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    justify-content: center;
    align-items: center;
    transition: transform, font-size 200ms ease-in;
    z-index: 2;
  }

  #menu-toggle:checked ~ .upper-navbar-links {
    font-size: 1rem;
    transform: translate(0, 0.3rem);
  }
}
