.sidebar {
  display: inline-flex;
  flex-direction: column;
  background-color: #3b533b;
  height: 100%;
  width: max-content;
  margin-right: 0.5rem;
  border-right: 1px #6969a5 solid;
}

.sidebar ul {
  list-style: none;
  text-align: center;
  padding: 0 1rem;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.sidebar-back-link a {
  margin-left: 0.5rem;
}

.sidebar li {
  margin-top: 1.6rem;
  transition: all 300ms ease-in-out;
}

.sidebar a {
  color: white;
}

.sidebar a:hover {
  color: var(--title-color);
}

.sidebar-title {
  align-self: center;
  font-size: 1.2rem;
}

.sidebar-back-link {
  display: flex;
  align-items: baseline;
}
