.sidebar {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  padding: 1rem;
  background-color: var(--secondary-background-color);
  font-size: var(--sidebar-font-size);
  border-radius: 10px;
  flex: 1 1 25%;
  max-width: 25%;
  margin: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0 1rem;
  min-width: 95%;
}

.sidebar-back-link a {
  margin-left: 0.5rem;
}

.sidebar li {
  display: flex;
  margin-top: 3.6rem;
  transition: all 300ms ease-in-out;
  min-width: 99%;
  max-width: 99%;
  align-items: center;
}

.heart-icon {
  margin-right: 1.1rem;
}

.sidebar li a {
  color: var(--lower-navbar-link-color);
}

.sidebar-title {
  text-align: center;
  align-self: center;
  font-size: 1.5rem;
  color: var(--title-color);
}

.sidebar-back-link {
  display: flex;
  align-items: baseline;
}

@media screen and (max-width: 750px) {
  .sidebar {
    padding: 1rem 0.4rem;
    margin-bottom: 0.5rem;
    max-width: 100%;
  }

  .sidebar > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40%;
  }

  .sidebar li {
    margin-top: 2.5rem;
  }
}
