.sidebar {
  display: inline-flex;
  flex-direction: column;
  width: min-content;
  background-color: #3b533b;
  height: 100%;
  padding: 0 1.2rem;
  margin-right: 0.5rem;
  border-right: 1px #6969a5 solid;
}

.sidebar > ul {
  list-style: none;
  text-align: center;
  padding: 0;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.sidebar > ul > li {
  border-radius: 15px 15px 15px 15px;
  margin-top: 1.6rem;
  padding: 0.5rem 1rem;
  transition: all 300ms ease-in-out;
}

.sidebar > ul > li > a:hover {
  color: #a96464;
}

.sidebar > ul > li > a {
  color: white;
}

.sidebar-title {
  align-self: center;
  font-size: 1.2rem;
}
